@use '../../styles/font' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variable' as *;



.hero{
    margin: 0%;
    display: flex;
    &__content{
        font-family: 'Avenir';
        padding-top: 8rem;
        padding-left: 8rem;
        width: 25rem;
        text-align: left;
    }
    &__text{
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    &__title{
        font-weight: 400;
        font-size: 48px;
        margin-bottom: 0;
    }

    &__btn{
        background:$blue;
        font-family: 'Avenir';
        font-size: 16px;
        width: 170px;
        padding: 0.5rem;
        border:solid 1px $blue;
        border-radius: 10px;
        background:$blue;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    
        &:hover{
            background-color: #739BEC;
            border: none;
        }
    }
  
}

.nycLogo{
    width: 70px;
    height: 70px;
    position: absolute;
    top:30px;
    left:700px;
}

.home__bg{
    position: fixed;
    right: 0;
    background-image:url('../../Assetes/image/HOME-1.png');
    background-attachment: fixed;
    background-position: right;
    background-repeat: repeat;
    background-size: contain;
    width: 34vw;
    height: 100vh;
}