@use '../../styles/font' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variable' as *;



.hero{

    margin: 0%;
    display: flex;
    

    &__content{
        font-family: 'Avenir';
        padding-top: 8rem;
        padding-left: 8rem;
        width: 25rem;
        text-align: left;
    }

    &__text{
        margin-bottom: 2.5rem;
    }

    &__title{
        font-weight: 400;
        font-size: 48px;

    }

    &__btn{
        background:$blue;
        font-family: 'Avenir';
        font-size: 16px;
        width: 170px;
        padding: 0.5rem;
        border:solid 1px $blue;
        border-radius: 10px;
        background:$blue;
        color: white;
        transition: 0.5s;
    
        &:hover{
            background-color: #739BEC;
            border: none;
        }
    }


    &__bg{
        position: fixed;
        right: 0;
        background-image:url('../../Assetes/image/example.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 40vw;
        height: 100vh;
    }
}