.hero3__bg{
    position: fixed;
    right: 0;
    background-image:url('../../Assetes/image/graphic4 1.png');
    background-attachment: fixed;
    background-position: right;
    background-repeat: repeat;
    background-size: contain;
    width: 34vw;
    height: 100vh;
}